/**
 * This file is for any css that you may want for this visualizer.
 *
 * Ideally, you would use the scss file also provided in this directory 
 * and then generate this file automatically from that. However, you can 
 * simply write css if you prefer
 */

.h-f-s-m-viz {
    outline: none;
    padding: 0;
}

.hfsmVizLeftTitle {
    position: relative;
    top: 0;
    left: 0;
    text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.85;
    color: #00235b;

    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    display: inline-block;
    margin-right: 10px;
    margin-left: 5px;
    white-space: nowrap;
    margin-top: 8px;
}

.eventButtons {
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
}

.eventButton {
    margin-left: 0;
}

.eventButtonText {
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

#cy {
  height: 100%;
  width: 100%;
/*
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  active-bg-color: #fff;
  active-bg-opacity: 0.333;
*/
}


#hfsmVizHandle {
    width: 2%;
    height:100%;
}

#hfsmVizLeft, #hfsmVizRight {
    float:left;
    height:100%;
}

#hfsmVizRight {
    width:69%;
}

#hfsmVizLeft {
    width:29%;
}

#re_layout,
#reset {
  width: 3em;
  margin: 0.5em;
  position: absolute;
  top: 0;
  z-index: 999;
}

#reset {
  right: 0;
}

#re_layout {
  right: 4em;
}

#reset i {
  transform: rotate(45deg);
}