/**
 * This file is for any css that you may want for this visualizer.
 *
 * Ideally, you would use the scss file also provided in this directory 
 * and then generate this file automatically from that. However, you can 
 * simply write css if you prefer
 */

.h-f-s-m-viz {
    outline: none;
    padding: 0;
}

.search { position: relative; }
.search input {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 6px 10px 6px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    text-indent: 2em;
}
.search .fa-search { 
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-size: 18px;
}

#cy {
  width: 100%;
/*
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  active-bg-color: #fff;
  active-bg-opacity: 0.333;
*/
}

.simulator-logs {
    color: #4825c7;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    border-top: 1px solid #000000;
    display: block;
    user-select: text;
    white-space: pre;
    overflow: auto;
}

#hfsmVizHandle {
    width: 2%;
    height:100%;
}

#hfsmVizLeft, #hfsmVizRight {
    float:left;
    height:100%;
}

#hfsmVizRight {
    width:69%;
}

#hfsmVizLeft {
    width:29%;
}

/* search */
.search .nav {
    background: #232323;
    height: 60px;
    display: inline-block;
}
.search .nav li {
    float: left;
    list-style-type: none;
    position: relative;
}
.search .nav li a {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-left: 1px solid #2e2e2e;
    font-family: Montserrat, sans-serif;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.search .nav li a:hover {
    background-color: #2e2e2e;
}
.search #settings a {
    padding: 18px;
    height: 24px;
    font-size: 10px;
    line-height: 24px;
}
.search #search {
    width: 357px;
    margin: 4px;
}
.search #search_text{
    width: 297px;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    color: white;
    outline: none;
    background: #1f7f5c;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}
.search ::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
.search :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
.search ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
.search :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
.search #search_text:focus {
    background: rgb(64, 151, 119);
}
.search #search_button {
    border: 0 none;
    background: #1f7f5c center no-repeat;
    width: 60px;
    float: left;
    padding: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
}
.search #options a{
    border-left: 0 none;
}
.search #options<a {
	/*
    background-image: url(triangle.png);
   */
    background-position: 85% center;
    background-repeat: no-repeat;
    padding-right: 42px;
}
.search .subnav {
    visibility: hidden;
    position: absolute;
    top: 110%;
    right: 0;
    width: 200px;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: #232323;
}
.search .subnav li {
    float: none;
}
.search .subnav li a {
    border-bottom: 1px solid #2e2e2e;
}
.search #options:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}