/**
 * This file is for any css that you may want for this visualizer.
 *
 * Ideally, you would use the scss file also provided in this directory
 * and then generate this file automatically from that. However, you can
 * simply write css if you prefer
 */

.h-f-s-m-viz {
    outline: none;
    padding: 0;
}

.search {
	position: absolute;
	left: 30em;
	top: 1em;
	z-index: 9999;
}
.search input {
	width: auto;
	min-width: 20em;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 6px 10px 6px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    text-indent: 2em;
}
.search .fa-search {
	z-index: 1;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-size: 18px;
}
.search .node-dataset {
	background-color: white;
	border-radius: 4px;
	font-size: 14px;
	padding: 5px, 10px;
}

.dataset-sep,
.dataset-arrow {
	color: light-blue;
	padding: 5px 10px;
}

.dataset-parent,
.dataset-src,
.dataset-dst {
	color: gray;
}

.dataset-state {
	color: blue;
	padding: 5px 10px;
}
.dataset-transition {
	color: blue;
	padding: 5px 10px;
}

#cy {
  width: 100%;
/*
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  active-bg-color: #fff;
  active-bg-opacity: 0.333;
*/
}

.simulator-logs {
    color: #4825c7;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    border-top: 1px solid #000000;
    display: block;
    user-select: text;
    white-space: pre;
    overflow: auto;
}

#hfsmVizHandle {
    width: 2%;
    height:100%;
}

#hfsmVizLeft, #hfsmVizRight {
    float:left;
    height:100%;
}

#hfsmVizRight {
    width:69%;
}

#hfsmVizLeft {
    width:29%;
}

/* search */
span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
  height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}