@import "Colors";

$library-width: 120px;
$library-height: 55px;
$library-border: 1px solid #000000;
$library-name-padding: 5px;
$library-background-color: #F0FFF0;
$library-name-height: 16px;

@mixin Library {
  .library {
    min-width: 65px;
    height: 40px;
    border: $library-border;
    padding: 3px;
    background-color: $library-background-color;
    text-align: center;
    line-height: 40px;

    .name {
      > input {
        font-size: 12px !important;
        line-height: 16px !important;
        height: 16px !important;
      }
    }
  }
}

@mixin SelectedLibrary {
  .library {
    background-color: $selected-background-color;
    border-color: $selected-border-color;
  }
}