@import "Colors";
@import "Connector";

$choice-pseudostate-background-color: #000000;
$choice-pseudostate-size: 30px;
$connector-diff: -2px;

@mixin ChoicePseudostate {
  .choice-pseudostate {
    .icon {
      margin-left: auto;
      margin-right: auto;
      display:block;
      width: $choice-pseudostate-size;
      height: $choice-pseudostate-size;
      border: 2px solid $choice-pseudostate-background-color;
      box-sizing: border-box;
      transform: rotate(45deg) scale(0.7);
    }

    .name {
      margin-left: auto;
      margin-right: auto;
      display:block;
      white-space: nowrap;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 16px;
      line-height: 16px;
    }

    .connector {
      @include connector_basics;

      &.left {
        top: ( $choice-pseudostate-size - $connector-size ) / 2;
        left: $connector-diff;
      }

      &.right {
        top: ( $choice-pseudostate-size - $connector-size ) / 2;
        left: $choice-pseudostate-size - $connector-diff;
      }

      &.top {
        top: $connector-size / -2 + $connector-diff;
        margin-left: $connector-size / -2;
        left: 50%;
      }

      &.bottom {
        top: $choice-pseudostate-size - $connector-size / 2 - $connector-diff;
        margin-left: $connector-size / -2;
        left: 50%;
      }
    }
  }
}

@mixin SelectedChoicePseudostate {
  .choice-pseudostate {
    .icon {
      border-color: $selected-border-color;
    }
  }
}