
#hfsmSimulator {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#simulatorHandle {
    width:100%;
    height:1%;
    padding: 0px;
    margin: 0px;
    font-size: 1px;
    text-align: left;
    z-index: 2;
    cursor: ns-resize
}

.simulator-top-panel,
.simulator-bottom-panel {
    width: 100%;
    height: 48%;
    vertical-align: top;
    overflow: auto;
}


.simulator-top-panel {
    height: 60%;
}

.simulator-bottom-panel {
}

.simulatorTitle,
.stateInfoTitle{
    position: relative;
    top: 0;
    left: 0;
    text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.85;
    color: #00235b;

    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    display: inline-block;
    margin-right: 10px;
    margin-left: 5px;
    white-space: nowrap;
    margin-top: 8px;
}

.eventButtons {
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
}

.eventButton {
    margin-left: 0;
}

.eventButtonText {
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

#stateInfo {
    width: 100%;
}