
core {
    active-bg-color: #fff;
    active-bg-opacity: 0.333;
}

edge {
    content: data(label);
    line-color: #000;
    line-style: solid; /* dotted, dashed */
    curve-style: bezier; /* bezier, haystack, unbundled-bezier, segments */
    target-arrow-shape: triangle-backcurve;
    target-arrow-color: #000;
    target-arrow-fill: filled; /* hollow */
    opacity: 1.0;
    width: 1;
    z-index: 0;
    overlay-opacity: 0;

    font-size: 8;
    text-outline-width: 1;
    text-outline-color: #fff;
    text-outline-opacity: 1;
    text-wrap: wrap;
    text-max-width: 90px;
    color: black;
}

node {
    background-color: #fff;
    background-opacity: 1;
    border-style: solid; /* dotted, dashed, double */
    border-color: #000;
    border-width: 1;
    border-opacity: 1;

    shape: roundrectangle;
    text-wrap: wrap;
    text-max-width: 90px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    text-valign: top;
    text-halign: center;
    font-weight: bold;


    width: 5;
    height: 5;
    font-size: 10;
    font-weight: bold;
    min-zoomed-font-size: 4;
    content: data(name);
    color: #000;
    text-outline-width: 1;
    text-outline-color: #fff;
    text-outline-opacity: 1;
    overlay-color: #fff;
}

node[NodeType = "Initial"] {
    width: 1;
    height: 1;
    content: ;
    shape: ellipse;
    background-color: black;
    color: black;
}

node[NodeType = "Pseudo State"] {
    width: 1;
    height: 1;
    content: ;
    shape: diamond;
}

node.highlighted {
    min-zoomed-font-size: 0;
    font-size: 10;
    text-outline-width: 2;
    text-outline-opacity: 1;
    z-index: 9999;
}

edge.highlighted {
    opacity: 1.0;
    z-index: 9999;
}

edge.faded {
    opacity: 0.1;
}

node.faded {
    opacity: 0.5;
    text-opacity: 0;
}

node:selected {
    /* width: 40; */
    /* height: 40; */
    border-color: rgb(187, 219, 247);
    border-opacity: 0.5;
    border-width: 10;
}

.filtered {
    display: none;
}
