{{#if nextState.Initial_list}}
{{#nextState.Initial_list.[0].ExternalTransitions.[0]}}
{{#addTransition trans=.. previous=../previousTransitions}}
{{> ExecuteTransitionTempl }}
{{/addTransition}}
{{/nextState.Initial_list.[0].ExternalTransitions.[0]}}
{{else}}
// Transitioning states!
{{#renderTransition transition=.}}{{/renderTransition}}
// make sure nothing else handles this event
handled = true;
{{/if}}
