{{#if Guard}}
else if ( {{{Guard}}} ) {
{{else}}
else if ( true ) {
{{/if}}
  {{#if nextState.isChoice}}
  // Going into a choice pseudo-state, let it handle its
  // guards and perform the state transition
  if (false) { } // makes geneeration easier :)
  {{#each nextState.ExternalTransitions}}
  {{#addTransition trans=.. previous=../previousTransitions}}
  {{> ExternalTransitionTempl }}
  {{/addTransition}}
  {{~/each}}
  {{else if nextState.endTransition}}
  // Going into an end pseudo-state that is not the root end state,
  // follow its parent end transition
  if (false) { }
  {{#nextState.endTransition}}
  {{#addTransition trans=.. previous=../previousTransitions}}
  {{> ExternalTransitionTempl }}
  {{/addTransition}}
  {{~/nextState.endTransition}}
  {{else if nextState.isState}}
  {{> ExecuteTransitionTempl }}
  {{else if nextState.isDeepHistory}}
  {{> ExecuteTransitionTempl }}
  {{else if nextState.isShallowHistory}}
  {{> ExecuteTransitionTempl }}
  {{~/if}}
}
