{{#if Initial_list}}{{#Initial_list.[0].ExternalTransitions.[0].nextState}}{{> InitialStateTempl}}{{/Initial_list.[0].ExternalTransitions.[0].nextState}}{{else}}{{{fullyQualifiedVariableName}}}{{/if}}