{{#if Guard}}
//::::{{{path}}}::::Guard::::
else if ( {{{Guard}}} ) {
  #ifdef DEBUG_OUTPUT
  std::cout << "GUARD [ {{{Guard}}} ] for EXTERNAL TRANSITION:{{{path}}} evaluated to TRUE" << std::endl;
  #endif
{{else}}
else if ( true ) {
  #ifdef DEBUG_OUTPUT
  std::cout << "NO GUARD on EXTERNAL TRANSITION:{{{path}}}" << std::endl;
  #endif
{{/if}}
{{#if nextState.isChoice}}
  // Going into a choice pseudo-state, let it handle its
  // guards and perform the state transition
  if (false) { } // makes generation easier :)
{{#each nextState.ExternalTransitions}}
{{#addTransition trans=.. previous=../previousTransitions}}
{{> InitTransitionTempl }}
{{/addTransition}}
{{~/each}}
{{else}}
  // Transitioning states!
{{#renderTransition exit="false" entry="true" transition=.}}{{/renderTransition}}
  // now initialize the actual next state
  _root->{{{nextState.pointerName}}}.initialize();
{{/if}}
}
