case Event::Type::{{{name}}}:
  if ( false ) {  // makes generation easier :)
  }
  {{#each Transitions}}
  {{#if Guard}}
  else if ( {{{Guard}}} ) {
  {{else}}
  else if (true) {
  {{/if}}
    // run transition action
    {{{Action}}}
    // make sure nothing else handles this event
    handled = true;
  }
  {{/each}}
  break;
