// Going into a choice pseudo-state, let it handle its
// guards and perform the state transition
if (false) { } // makes geneeration easier :)
{{#each ExternalTransitions}}
{{#addTransition trans=.. previous=../previousTransitions}}
{{#if Guard}}
//::::{{{path}}}::::Guard::::
else if ( {{{Guard}}} ) {
  #ifdef DEBUG_OUTPUT
  std::cout << "\033[37mGUARD [ {{{Guard}}} ] for EXTERNAL TRANSITION:{{{path}}} evaluated to TRUE\033[0m" << std::endl;
  #endif
{{else}}
else if ( true ) {
  #ifdef DEBUG_OUTPUT
  std::cout << "\033[37mNO GUARD on EXTERNAL TRANSITION:{{{path}}}\033[0m" << std::endl;
  #endif
{{/if}}
  //:::{{{path}}}:::Action
  {{{Action}}}
  {{#if nextState.isChoice}}
  {{> ChoiceStateTempl nextState}}
  {{else if nextState.isState}}
  _root->{{nextState.pointerName}}.initialize();
  {{/if}}
}
{{/addTransition}}
{{~/each}}
