case EventType::{{{name}}}: {
  {{#if hasData}}
  // payload alias available to this event's guards / actions
  [[maybe_unused]] const {{{name}}}EventData &data =
    static_cast<{{{name}}}Event*>(event)->get_data();
  {{/if}}
  if ( false ) { }  // makes generation easier :)
  {{#each Transitions}}
  {{> ExternalTransitionTempl}}
  {{~/each}}
  break;
}
