case EventType::{{{name}}}: {
  {{#if hasData}}
  // payload alias available to this event's guards / actions
  [[maybe_unused]] const {{{name}}}EventData &data =
    static_cast<{{{name}}}Event*>(event)->get_data();
  {{/if}}
  if ( false ) {  // makes generation easier :)
  }
  {{#each Transitions}}
  {{#if Guard}}
  //::::{{{path}}}::::Guard::::
  else if ( {{{Guard}}} ) {
    _root->log("\033[37mGUARD [ {{{Guard}}} ] for INTERNAL TRANSITION:{{{path}}} evaluated to TRUE\033[0m");
  {{else}}
  else if (true) {
    _root->log("\033[37mNO GUARD on INTERNAL TRANSITION:{{{path}}}\033[0m");
  {{/if}}
    // run transition action
    //::::{{{path}}}::::Action::::
    {{{Action}}}
    // make sure nothing else handles this event
    handled = true;
  }
  {{/each}}
  break;
}
