case EventType::{{{name}}}:
  if ( false ) {  // makes generation easier :)
  }
  {{#each Transitions}}
  {{#if Guard}}
  //::::{{{path}}}::::Guard::::
  else if ( {{{Guard}}} ) {
    #ifdef DEBUG_OUTPUT
    std::cout << "\033[37mGUARD [ {{{Guard}}} ] for INTERNAL TRANSITION:{{{path}}} evaluated to TRUE\033[0m" << std::endl;
    #endif
  {{else}}
  else if (true) {
    #ifdef DEBUG_OUTPUT
    std::cout << "\033[37mNO GUARD on INTERNAL TRANSITION:{{{path}}}\033[0m" << std::endl;
    #endif
  {{/if}}
    // run transition action
    //::::{{{path}}}::::Action::::
    {{{Action}}}
    // make sure nothing else handles this event
    handled = true;
  }
  {{/each}}
  break;
